.callout.gitlab-trial
  %h2
    Try all GitLab features - free for 30 days
  %p
    GitLab is more than just source code management or <a href="https://about.gitlab.com/topics/ci-cd/">CI/CD</a>. It is a full software development lifecycle & DevOps tool in a single application.
  = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange", :"data-ga-name" => "free trial", :"data-ga-location" => "try partial"
